

body {
    background-color: black;
    color: #ffadf1;
    font-family: "pixel";
}

button {
    font-family: "pixel";
}

input {
    font-family: "pixel";
}

#factify-title {
    size: 35%;
    position: absolute;
    top: 20%;
    left: 40%;
}

.fact-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 30%;
    left: 35%;
}

@font-face {
    font-family: pixel;
    src: url("pixel.ttf");
}