.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
  }

body {
    background-color: black;
    color: #ffadf1;
    font-family: "Roboto Mono", monospace;
}

button {
    font-family: "Roboto Mono", monospace;
}

#factify-title {
    size: 35%;
    position: absolute;
    top: 20%;
    left: 40%;
}

.fact-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 30%;
    left: 35%;
}